<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated statesml -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="statesml.presentation.StatesmlModelWizardID"
            name="%_UI_StatesmlModelWizard_label"
            class="statesml.presentation.StatesmlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StatesmlModelFile.gif">
         <description>%_UI_StatesmlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated statesml -->
      <editor
            id="statesml.presentation.StatesmlEditorID"
            name="%_UI_StatesmlEditor_label"
            icon="icons/full/obj16/StatesmlModelFile.gif"
            extensions="statesml"
            class="statesml.presentation.StatesmlEditor"
            contributorClass="statesml.presentation.StatesmlActionBarContributor">
      </editor>
   </extension>

</plugin>
